# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
instance/
*.sqlite3
*.db

# Node
node_modules/
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
